.rows {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  overflow-x: auto;
  padding-left: 5px !important;
  /* padding-top: 5rem; */
}

.row_movie {
  margin: 2px;
  margin-left: 5px;
  height: 450px;
  width: 300px;
  /* padding-left: 5px; */
}

.row_IMG {
  height: 400px;
  width: 300px;
}

.movie_type {
  padding-top: 2em;
  font-weight: 700;
  color: goldenrod;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.rows::-webkit-scrollbar {
  width: 5px !important;
}