.rows {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  overflow-x: auto;
  padding-left: 5px !important;
}

.row_movie {
  margin: 5px;
  margin-left: 3px;
  height: auto;
  width: auto;
  transition: all 0.5s ease-in-out;
  border: 3px solid transparent;
}

.row_movie:hover {
  border: 3px solid goldenrod;
}

.row_IMG {
  height: 250px;
  width: 200px;
}

.movie_type {
  padding-top: 2em;
  font-weight: 700;
  color: goldenrod;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rows::-webkit-scrollbar {
  width: 2px !important;
}
