.IMAGE_CONTAINER {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  align-items: center;
  justify-content: center;
  bottom: 50% !important;
  right: 17% !important;
  transform: translateY(50%);
}

.caption {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: bold;
  color: goldenrod;
  letter-spacing: 3px;
}

@media (max-width: 680px) {
  .caption {
    font-size: 2rem;
  }
}

.more_INFO {
  background: none;
  opacity: 1;
  border: 2px solid goldenrod !important;
  color: goldenrod !important;
}

.more_INFO:hover,
.more_INFO:active {
  background-color: goldenrod !important;
  color: black !important;
  font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: goldenrod !important;
  color: aliceblue !important;
  transition: all 0.2s ease-in-out;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 40px !important;
  height: 40px !important;
}
