.navbar {
  box-sizing: border-box;
  background-color: #daa520;
  color: aliceblue;
  height: 60px !important;
  width: 100%;
  padding: 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_left {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.nav_center {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: center;
}

.nav_right {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger {
  display: none;
}

.nav_left > a > img {
  height: 60px;
  width: 80px;
}

.login,
.signup {
  width: 100px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 5px;
  padding: 5px auto;
  box-sizing: border-box;
  font-weight: 600;
  color: black;
  margin: 0px 2.5px;
  border: 2px solid black;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login:active,
.signup:active {
  background-color: rgba(0, 0, 0, 0.829);
  border-color: white;
  color: white;
  text-decoration: none;
}

a.login {
  text-decoration: none;
}

.input {
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.698);
  width: 70%;
  height: 90% !important;
  outline: none;
  border-radius: 30px !important;
  padding: 20px;
  font-weight: 500;
  color: black;
  transition: all 0.5s ease-in-out;
}

.input:focus {
  width: 80%;
  border: 3px solid rgba(0, 0, 0, 0.911);
}

.user_avatar {
  border-radius: 50%;
  cursor: pointer;
}

.user_data {
  width: auto;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.596);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.user_data > span {
  color: white !important;
  font-weight: 600;
  margin-left: 5px;
  font-size: medium;
}

.user_dropdown {
  position: absolute;
  top: 110%;
  right: 0%;
  width: 150px;
  height: auto;
  background: white;
  color: black;
  z-index: 1000;
  border-radius: 10px;
  /* padding: 5px; */
  display: flex;
  background-color: rgba(128, 128, 128, 0.918);
  color: white;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.user_dropdown > span,
.mobile_menu > span {
  width: 100%;
  font-size: large;
  font-weight: 400;
  letter-spacing: 1.1px;
  padding: 5px;
}

.user_dropdown .divider {
  padding: 0px;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.561);
}

.mobile_menu .divider {
  padding: 0px;
  height: 1px;
  border-top: 1px solid white;
}

.user_dropdown > span > a,
.mobile_menu > span > a {
  text-decoration: none;
  color: white;
}

.mobile_menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  display: none;
  flex-direction: column;
  height: 0px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  z-index: 2000;
  background: gray;
  color: white;
  opacity: 0;
  box-shadow: rgba(194, 189, 120, 0.4) 0px 5px, rgba(194, 189, 120, 0.3) 0px 10px, rgba(194, 189, 120, 0.2) 0px 15px, rgba(194, 189, 120, 0.1) 0px 20px, rgba(194, 189, 120, 0.05) 0px 25px;
}

.animate {
  height: auto;
  opacity: 1;
}

.menu_signin {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: large;
  font-weight: 300;
  letter-spacing: 1.1px;
}

@media (max-width: 700px) {
  .nav_right {
    display: none;
  }

  .nav_left {
    width: 10%;
  }

  .nav_center {
    margin-left: auto;
    width: 85%;
    justify-content: flex-end;
  }

  .input {
    width: 80%;
  }

  .input:focus {
    width: 90%;
  }

  .hamburger {
    display: initial;
    height: 50px !important;
    flex: none;
    cursor: pointer;
  }

  .nav_left > a {
    display: none;
  }

  .mobile_menu {
    display: flex;
  }
}
