.Movie {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: monospace;
}

.main_row {
  box-shadow: rgba(218, 165, 32, 0.4) -5px 5px, rgba(218, 165, 32, 0.3) -10px 10px, rgba(218, 165, 32, 0.2) -15px 15px, rgba(218, 165, 32, 0.1) -20px 20px, rgba(218, 165, 32, 0.05) -25px 25px;
  border-radius: 10px !important;
}

.image_container,
.movie_data_container {
  box-sizing: border-box;
  margin: 0 0 !important;
  padding: 0 0 !important;
}

.movie_data_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, #000 90%);
  color: white;
  padding: 0px 20px !important;
}

.title {
  text-transform: uppercase;
  font-weight: bolder;
  padding-top: 2%;
}

.watchlist {
  width: auto;
  margin: 20px 0px !important;
  font-size: large;
  font-weight: 700;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: white;
  outline: none;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.plus_symbol {
  height: 25px;
  margin-right: 5px;
}

.tagline {
  padding-top: 10px;
  font-weight: 700;
  color: goldenrod;
}

.overview {
  font-style: italic;
  font-size: large;
}

.prod_companies_title,
.genres_title {
  padding-top: 1.3rem;
  font-weight: 600;
  color: goldenrod;
}

.genres_title {
  padding-top: 1rem;
}

.vote_cnt {
  font-size: smaller;
}

@media (max-width: 575px) {
  .Movie {
    margin-top: 0% !important;
  }

  .watchlist {
    width: 100%;
  }
}
